{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{% static '/css/basestyle.css' %}">
    <title>Index</title>
     
    
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
 </head>
 <body>
     <div class="container"> 
        <center><h2 style ="margin-top:6rem; margin-bottom:2rem;">Welcome</h2></center> 

        <h5 id="txt">Thank you for taking our Survey. We think it will show you how useful maths is in your life.</5>
            <br>
        <h5 id="txt">Please think about your work and hobbies when reading each question and select the option that is most relevant to you.</5>
        <br>
        <br>
        <br>
    
       <div style= "position: center; bottom 50%">
        
        
        <div class="flex-parent jc-center" style="padding: 1px;">



        <button type="submit" id="button" class="btn btn-primary" onclick="location.href = 'survey?id=1'">Start Survey</button>
    </div>
             
         
           
         </div>
       </div>
       
 </body>


{% endblock %}

