{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
     
    
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
 </head>
 <body>
     <div class="container"> 
        <br> 
        <br>
        <br>      
        <h5 style="color:#4d4d4d">Thank you for taking our Survey. We think it will show you how often you use maths.</5>
            <br>
        <h5 style="color:#4d4d4d">Please select the option that is closest to your situation.</5>
        <br>
        <br>
        <br>
        <br>
    
       <div style= "position: center; bottom 50%">
        
        
        <div class="flex-parent jc-center" style="padding: 1px;">



        <button type="submit" id="button" class="btn btn-primary" onclick="location.href = 'survey?id=1'">Start Survey</button>
    </div>
             
         
           
         </div>
       </div>
       
 </body>


{% endblock %}