{% extends 'base.html' %}
{% block content %}


<h3 style = "margin-bottom: 20px"><strong>Pick Your Choice</strong></h3>

{% for x in qs %}
<h4>{{x.question}}</h4>
<br>

<form method="POST" action='/survey?id={{id}}'">
    {% csrf_token %}
   
    <ul class="list-group" style="margin:0px">
    
    
        <label>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name = "radio" value=1 aria-label="..."> Never or Hardly Ever</input><br><br>
                <input class="form-check-input me-1" type="radio" name = "radio" value=2 aria-label="..."> About once a Year</input><br><br>
                <input class="form-check-input me-1" type="radio" name = "radio" value=3 aria-label="..."> About once a Month</input><br><br>
                <input class="form-check-input me-1" type="radio" name = "radio" value=4 aria-label="..."> About once a week</input><br><br>
                <input class="form-check-input me-1" type="radio" name = "radio" value=5 aria-label="..."> About Everyday</input><br><br>
                <input class="form-check-input me-1" type="radio" name = "radio" value=0 aria-label="..."> Don't Understand the Question</input><br><br>

            </li>
        </label>
    

         
    </ul>
    <br>
    <br>

    {% if id == 34 %}
    <submit type="submit" class="btn btn-primary" onclick="location.href='result'"  name="radio">Submit</submit>

    {% else %}
    <input type="submit" class="btn btn-primary" >
    
    {% endif %}
    {% endfor %}

</form>


{% endblock %}